body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

/* <!-- hero section --> */
.hero {
  height: 90vh;
  position: relative;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero > div {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, 0);

  background: rgba(0, 0, 0, 0.336);
  color: aliceblue;
  width: 450px;
  padding: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(3px); /*to blur(glassomorphic design)*/
}

.down {
  font-size: 5rem;
  color: white;

  position: absolute;
  top: 80vh;
  left: 50%;

  transform: translate(-50%, 0);
  rotate: 90deg;
  animation: arrow 0.8s linear infinite;
}

@keyframes arrow {
  0% {
    top: 75vh;
  }
  50% {
    top: 70vh;
  }
  100% {
    top: 75vh;
  }
}

/* <!-- nav bar --> */
nav {
  background: black;
  color: aliceblue;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1rem;
  padding: 0.5rem 0;
}

nav ul {
  display: flex;

  list-style-type: none;
}

nav ul li {
  margin-left: 1.3rem;
}

nav ul li:hover {
  color: coral;
  transform: scale(1.3);
  cursor: pointer;
  transition: all 3s; /*all to select all properties(color and size. for just color use color instead of all)*/
}
/* <!-- paragraphs --> */

/* <!-- image section --> */
/* .img1,
.img2,
.img3,
.img4,
.img5 {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

[class^="img"] {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
} /*instead of the above one we can use this*/

.title {
  background: rgba(0, 0, 0, 0.406);
  color: whitesmoke;
  font-size: 2rem;
  padding: 1.4rem 5rem;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.img1 {
  background: url("./assets/img\ \(1\).jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img2 {
  background: url("./assets/img\ \(2\).jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img3 {
  background: url("./assets/img\ \(3\).jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img4 {
  background: url("./assets/img\ \(4\).jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

/* <!-- footer --> */
footer {
  background: black;
  color: whitesmoke;
  padding: 3rem;
  text-align: center;
  margin-top: 3rem;
}
